.container {
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #173f5f;
}

.heading {
  flex: 1;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.heading h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  flex: 0.8;
  min-width: 300px;
  height: 90vh;
  background-color: #20639b;
}

.content {
  flex: 1;
  display: flex;
  height: 80%;
  justify-content: space-around;
  background-color: #fff;
  overflow: scroll;
  flex-wrap: wrap;
}
